@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --black: #3d3b40;
  --blue: #525CEB;
  --grey: #BFCFE7;
  --white: #FFF;
  --orange:#ff710f;
} */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html {
  scroll-behavior: smooth;
  font-family: "Work Sans", sans-serif;
}
:root {
  --black: #000000; /* Dark primary color for text and backgrounds */
  --sub_black: #111111;
  --blue: #1788ae; /* Bright blue for buttons and links */
  /* --blue: #007bff;  */
  --grey: #b0b2c3; /* Soft grey for subtle backgrounds and accents #909090 */
  --white: #fff; /* Clean white for backgrounds and light text */
  --orange: #ff6f61; /* Vibrant orange for highlights and hover effects */
  --golden: #ffc107;
}
.container {
  width: 90%;
}
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
html {
  overflow-x: hidden;
}
.cc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn {
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#1595b6),
    to(rgba(31, 38, 103, 0.9))
  );
  background: linear-gradient(to left, #1595b6, rgba(31, 38, 103, 0.9));
  background-color: #4595eb;
  border-radius: 5px;
  padding: 0.6em 1.25em;
  font-size: 1.2rem;
  font-weight: 600;
  position: relative;
  cursor: pointer;
  color: var(--white);
  transition: 0.3s ease;
}
.btn:hover {
  transform: scale(1.05);
}
.cursur {
  width: 2rem;
  height: 2rem;
  background-color: var(--blue);
  border-radius: 50%;
  transition: 0.3s linear;
  filter: blur(0.2rem);
}
.logo_cursor {
  width: 2rem;
  height: 2rem;
  filter: blur(.3rem);
}
.second_col {
  grid-row: 1/2;
  grid-column: 2/3;
}
.first_col {
  grid-column: 1/2;
  grid-row: 1/2;
}
/* .project_des {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  place-content: center;
} */
.rtl a img {
  filter: drop-shadow(0.5rem 0.5rem 0.8rem rgba(0, 0, 0, 0.5));
}
.project_popup {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.project_popup::after {
  position: absolute;
  content: "";
  background-color: var(--dynamic-color); /* Uses the dynamically set color */
  height: 0.7rem;
  width: 0.7rem;
  bottom: -0.3rem;
  left: 50%;
  transform: translateX(-50%) rotate(45deg); /* Diamond shape */
}

@keyframes bounce-custom {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1rem);
  }
}
.rtl_img:hover .project_popup {
  animation: bounce-custom 0.5s ease-in-out;
  top: -4.2rem;
}
@media (max-width: 650px) {
  .first_col {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .second_col {
    grid-row: 1/2;
    grid-column: 2/3;
  }
  .project_popup {
    bottom: -2rem;
  }
  .project_popup::after {
    display: none;
  }
}
.main_r_b {
  animation: rtd 10s linear infinite;
}
@keyframes rtd {
  to {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(-360deg);
  }
}
.alsk {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
}
.bglight {
  height: 10rem;
  width: 9.5rem;
  border-radius: 50%;
  filter: blur(10rem);
  background-color: var(--blue);
  right: 10rem;
  animation: rtd 10s linear infinite;
}

@media (max-width: 770px) {
  .alsk {
    width: 6rem;
    height: 6rem;
    background-color: var(--white);
    font-size: 2rem;
  }
}
@media (max-width: 450px) {
  .alsk {
    width: 4.5rem;
    height: 4.5rem;
    background-color: var(--white);
    font-size: 2rem;
  }
  .bglight {
    height: 5rem;
    width: 4rem;
  }
}
.testimonial_up{
  position: relative;
}
.testimonial_up::after,.testimonial_up::before{
  content: '';
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color:  #ff4424;
  right: 0;
  bottom:-2rem;
}
.testimonial_up::after{
  border-radius: 0px 24px 0px 0px;
  background-color: #f1f5f9;
  z-index: 222;
}