@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --black: #3d3b40;
  --blue: #525CEB;
  --grey: #BFCFE7;
  --white: #FFF;
  --orange:#ff710f;
} */
:root {
  --black: #201f21; /* Dark primary color for text and backgrounds */
  --blue: #007bff; /* Bright blue for buttons and links */
  --grey: #909090; /* Soft grey for subtle backgrounds and accents */
  --white: #fff; /* Clean white for backgrounds and light text */
  --orange: #ff6f61; /* Vibrant orange for highlights and hover effects */
  --golden: #ffc107;
}
.container {
  width: 85%;
}
body{
  overflow-x: hidden;
}
html{
  overflow-x: hidden;
}
.cc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* From Uiverse.io by Allyhere */
.btn-donate {
  --clr-font-main: hsla(0 0% 20% / 100);
  --btn-bg-1: #bfcfe7;
  --btn-bg-2: #525ceb;
  --btn-bg-color: #f8edff;
  --radii: 0.5em;
  cursor: pointer;
  padding: 0.4em 0.6em;
  min-width: 120px;
  min-height: 44px;
  font-size: var(--size, 1.5rem);
  font-weight: 500;
  transition: 0.8s;
  background-size: 280% auto;
  background-image: linear-gradient(
    325deg,
    var(--btn-bg-2) 0%,
    var(--btn-bg-1) 55%,
    var(--btn-bg-2) 90%
  );
  border: none;
  border-radius: var(--radii);
  color: var(--btn-bg-color);
}
.btn-donate:hover {
  background-position: right top;
}

.btn-donate:is(:focus, :focus-visible, :active) {
  outline: none;
  box-shadow: 0 0 0 3px var(--btn-bg-color), 0 0 0 6px var(--btn-bg-2);
}

@media (prefers-reduced-motion: reduce) {
  .btn-donate {
    transition: linear;
  }
}

/******************************************************************** main hero aection ***************************************************************/
.cursur{
  position: absolute;
  height: 15rem;
  width: 10rem;
  background-color: var(--blue);
  filter: blur(13rem);
  transition: .5s ease;
  animation: rotate 1s linear infinite;
}
@keyframes rotate {
  to {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
